# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Jupyter Notebook
.ipynb_checkpoints


# PEP 582
__pypackages__/

# Logs & Checkpoint
results_log
*.pth
*.pt
*.html

del.py
*axe*.txt

*.code-workspace
glove.*

.idea/

# mac

.DS_Store


# outputs
results_log
